name: kaleidoku
description: Kaleidoku is a vibrant Flutter application that offers Sudoku puzzles and solutions. Leveraging a GraphQL API, it provides a spectrum of puzzles to challenge your mind, wrapped up in a delightful, colorful user interface.

# The following defines the version and build number for your application.
version: 1.0.0+1

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  # Third-party packages
  http: ^1.1.0
  newton_particles: ^0.1.2
  google_fonts: ^5.1.0

  # The following adds the Cupertino Icons font to your application.
  cupertino_icons: ^1.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.2

flutter:
  uses-material-design: true
